
body {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  overflow-x: hidden;
}


.navbar {
	 height: 80px;
	 background-color: #3498db;
	 border: none;
	 color: #868e96;
	 z-index: 100;
	 transition: background-color 1s ease 0s;
}
 .navbar-default .navbar-nav > li > a {
	 color: #dee2e6;
	 margin: 10px 5px 5px 5px;
}
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
	 color: #343a40;
	 border: 1px solid #1864ab;
}

 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	 background-color: transparent;
	 color: #c57ed3;
}
 .navbar-default .navbar-toggle {
	 border-color: #c57ed3;
}
 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	 background-color: #490d40;
}
 .navbar-default .navbar-toggle .icon-bar {
	 color: #c57ed3;
	 background-color: #c57ed3;
}
 .navbar-default .navbar-collapse.collapse.in ul {
	 background-color: #490d40;
}



 .navbar.solid .navbar-nav > li > a {
	 color: white;
	 transition: color 1s ease 0s;
}
 
.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}



.center-outer {
  
display: table;
width: 100%;
height: 100%;
}

.center-inner {
display: table-cell;
vertical-align: middle;
text-align: center;
}

/* Essential CSS - Makes the effect work */


.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}

.bubbles h1 {
position: relative;
padding-top: 30%;

font-family: 'Ubuntu', sans-serif;
color: #fff;
z-index: 2;
  font-size:70px;
   text-shadow: 2px 2px 4px  #181818;

}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #fff;
z-index: 1;
}


.projects{
  
  margin: 20px;

}